@tailwind base;
@tailwind components;
@tailwind utilities;
.Transition-enter {
    opacity: 0;

}

.Transition-enter-active {
    opacity: 1;
    transition: all 300ms;
}

.Transition-exit {
    opacity: 1;
    transition: all 300ms;
}

.Transition-exit-active {
    opacity: 0;
    transition: all 500ms;
}
.slide-vertical-enter {
    opacity: 0;
}

.slide-vertical-enter-active {
    opacity: 1;
    transition: all 300ms;
}

.slide-vertical-exit {
    opacity: 1;

}

.slide-vertical-exit-active {
    opacity: 0;
    transition: all 300ms;
}